.card-title {
  padding-bottom: 15px;
}

.card-action {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
}

h5 {
  text-align: center;
}

form > .row {
  margin: 0px;
}

.switch {
  text-align: center;
}
