.card-title {
  padding-bottom: 15px;
}

.card-action {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
}

h5 {
  text-align: center;
}

h6 {
  text-align: center;
  margin-bottom: 30px;
}

.navbar-fixed {
  margin-bottom: 50px;
}

form > .row {
  margin: 0px;
}

.card {
  text-align: center;
}

#modal2 {
  width: 400px;
}

#modal3 {
  height: 250px;
}

.editNotes {
  margin-top: -5px;
}
